<mat-form-field [style.width.%]="largura">
  <input
    matInput
    type="text"
    [matAutocomplete]="auto"
    matAutocompletePosition="below"
    [formControl]="inputControl"
    [placeholder]="placeholder"
    (blur)="onTouched()"
  />
  <mat-icon matSuffix>search</mat-icon>
  <mat-error *ngIf="inputControl.errors?.isAutocompleteInvalid">
       {{ placeholder }} <strong> Obrigatório</strong>, mínimo
    <strong> {{ minLength }}</strong> caracter(es)
  </mat-error>
  <mat-error *ngIf="inputControl.errors?.required">
       Campo obrigatório
  </mat-error>
</mat-form-field>
<mat-autocomplete
  #auto="matAutocomplete"
  autoActiveFirstOption="true"
  [displayWith]="displayFn"
  (optionSelected)="optionSelected()"
>
  <mat-option *ngIf="isSearching; else optionsTemplate" disabled="true">
       <mat-progress-bar mode="query"></mat-progress-bar>
  </mat-option>

  <ng-template #optionsTemplate>
      
    <mat-option
      *ngFor="let option of options"
      [value]="option"
      class="provided"
    >
           {{ option.nome }}   
    </mat-option>
  </ng-template>

  <mat-option *ngIf="!isSearching && noResults" value="" disabled="true">
    Nada encontrado
  </mat-option>
</mat-autocomplete>
